<%- include("../partials/header") %>

<!-- *** This is the same form as the new view, but the values have been replaced using the data that has ben passed about one cafe *** -->

<!-- The method on an edit is POST, not PUT because we need to work around the fact that HTML does not support PUT by adding ?_method=PUT... -->

<form method='POST' action='/cafes/<%= cafe._id %>?_method=PUT' class='app-form' enctype="multipart/form-data">
  <h3>Edit <%= cafe.name %>'s Information</h3>
  <div class="form-group">
    <label>
      Cafe Name
      <input type="text" name='name' value="<%= cafe.name %>" class='form-control' required>
    </label>
    <label>
      Cafe Location
      <input type="text" name='area' value="<%= cafe.area %>" class='form-control' required>
    </label>
    <!-- <label>
      Cafe Photo URL
      <input type="text" name='image' value="<%= cafe.image %>" class='form-control' required>
    </label> -->
    <input type="file" name="image" id="" class="my-3" required multiple>
    <button type="submit" class="btn-success-yun-med form-control">Save Changes to <%= cafe.name %></button> </div>
  <a href="/cafes" class="button-all-cafes"><button class="btn btn-info button-all-cafes">See All Cafes</button></a>
</form>
<%- include("../partials/footer") %>