<%- include("../partials/header") %>

<h3>this is the index page...</h3>

<br>

<ul>
  <% cafes.forEach(cafe => { %>
  <img src="<%= cafe.url %>" alt="">
  <br>
  <li><strong><%= cafe.name %></strong> - <%= cafe.area %>
    <a href="/cafes/<%= cafe._id %>"><button>See More</button></a></li>
  <% }); %>
</ul>

<a href="/cafes/new"><button>Add a New Cafe</button></a>

<%- include("../partials/footer") %>