<%- include("../partials/header") %>

<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/dark-background.jpeg);">
  <div class="container">
    <h1>Collocafe</h1>
    <p>Some of the best cafes in Tokyo</p>
    <p>and what people are saying about them</p>
    <a href="/cafes/new" class=""><button class="btn-success-yun index-banner-button">Add a New Cafe</button></a>
  </div>
</div>

<div class="container cafe-cards-div">
  <div class="row">
    <% cafes.forEach(cafe => { %>
    <div class="col-md-11 col-lg-5 cafe-card">
      <% for (let image of cafe.images) {%>
      <img src="<%= image.url %>" alt="" class="index-image">
      <% } %>
      <div class="card-text-div">
        <h2><%= cafe.name %></h2>
        <h4><%= cafe.area %></h4>
        <h5><%= cafe.comments.length %> <%= cafe.comments.length === 1 ? 'Comment' : 'Comments' %></h5>
        <% console.log(cafe.comments); %>
      </div>
      <div style='text-align: center;'>
        <a href="/cafes/<%= cafe._id %>"><button>See More</button></a>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include("../partials/footer") %>