<%- include("../partials/header") %>

<% console.log("testing from view page...") %>
<h1><%= testText %></h1>
<h1><%= cafes[0].name %></h1>
<h1><%= cafes[0].area %></h1>

<%- include("../partials/footer") %>