<%- include("../partials/header") %>

<p>this is the show page...</p>
<h1><%= cafe.name %></h1>
<h3>
  <%= cafe.area %>
</h3>
<br>
<a href='/cafes/<%= cafe._id %>/edit'><button>Edit Information</button></a>
<br>

<% cafe.comments.forEach(comment => { %>
<p><strong><%= comment.author.username %></strong></p>
<p><%= comment.text %></p>
<% }); %>

<br>
<a href='/cafes/<%= cafe._id %>/comments/new'><button>Leave a Comment</button></a>



<!-- A form is needed for the DESTROY route... -->
<!-- The method on a delete is POST, not DELETE because we need to work around the fact that HTML does not support DELETE by adding ?_method=DELTE... -->
<form method='POST' action='/cafes/<%= cafe._id %>?_method=DELETE'>
  <button>Delete This Cafe</button>
</form>
<br>
<a href="/cafes"><button>See All Cafes</button></a>

<%- include("../partials/footer") %>