<%- include("../partials/header") %>

<h1>This is the user page...</h1>
<% console.log("User from user show page...: ",user) %>
<%= user.username %>
<%= user._id %>

<br>
<br>
<h2>bookmarks</h2>
<br>
<% user.bookmarks.forEach((cafe, i) => { %>
    <div>
        <h3><%= i + 1 %>) <%= cafe.name %></h3>
        <form method='POST'
        action='/users/<%= user._id %>/deletebookmark/<%= cafe._id %>?_method=PUT' class=''
        enctype="multipart/form-data">
        <button class='btn btn-danger btn-sm'>
            <i class="far fa-bookmark"></i>
            Delete Bookmark
        </button>
    </form>
    </div>
    <br>
<% }); %>


<%- include("../partials/footer") %>
