<%- include("../partials/header") %>

<h1>This is the user page...</h1>
<% console.log(user) %>
<%= user.username %>
<%= user._id %>

<h2>bookmark index 0</h2>
<% console.log("user from user show page: ", user) %>
<%= user.bookmarks[0].name %>


<%- include("../partials/footer") %>
